body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    gap: 16px;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px;
}

.left-block {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button {
    width: 120px;
    height: 40px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 30px;
    border: none;
}

.hero-img {
    width: 600px;
    height: 300px;
    background-color: #868686;
}

.left-block .subject {
    font-size: 48px;
    font-weight: 900;
}

.left-block .subtext, .links{
    font-size: 18px;
    color: #E5E7EB;
}

.org-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 100px;
}

.org-chart .subject {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.org-images {
    display: flex;
    gap: 60px;
}

.img-box {
    width: 200px;
    height: 200px;
    border: 2px solid #3882F6;
    background-color: transparent;
    border-radius: 30px;
}
.img-text {
    width: 200px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2837;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.subquote {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.quoteauthor {
    align-self: flex-end;
}

.cta {
    display: flex;
    justify-content: center;
}
.cta-box button {
    border: 2px solid #E5E7EB ;
    width: 180px;
    height: 60px;
}

.cta-box {
    background-color: #3882F6;
    font-size: 36px;
    border-radius: 30px;
    color: #F9FAF8;
    width: 1100px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 100px;
    margin: 100px;
}

.cta .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}